{% extends 'base.html' %}

{% block head %}
    <title>Dashboard</title>
    <style>
        button {
            --button_radius: 0.5em;
            --button_color: #e8e8e8;
            --button_outline_color: #bef1ec;
            font-size: 80%;
            font-weight: bold;
            border: none;
            border-radius: var(--button_radius);
            padding: 0.7em 1.7em;
            background: var(--button_outline_color);
        }
    </style>
{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h3>Welcome, {{ name }}!</p><h3>
        <a href='/landing_page/create_quiz'><button>Create Quiz</button></a>
        <a href='/landing_page/take_quiz'><button>Take Quiz</button></a> <br/> <br>
        <a href='/logout'><button>Logout</button></a>
    </div>
    
{% endblock %}


