{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1 style="font-family: Lucida Handwriting;">Welcome to Quizzy</h1> <br>
        <a href='/login'><button>Login</button></a>
    </div>
    
{% endblock %}

