{% extends 'base.html' %}

{% block head %}
    <title>Take Quiz</title>
{% endblock %}

{% block body %}
    <div style="text-align: center;">
      <h3>Enter the Quiz ID to view student performance</h3>
      <form method="POST" action="" enctype="multipart/form-data">
        <label>Enter the Quiz ID: <input type="text", name="q_id"></label>  <br>
        <input type="submit" value="Click to proceed">
      </form>
    </div>
    
{% endblock %}

